body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
  color: white;
}

#site-header{
  font-size: 5em;
}

#site-header:hover {
  color: rgb(13, 188, 61) !important;
}

div.site-component{
  background: rgb(40,40,40) !important;
}

a, div {
  color: white !important;
}

a.log-in-out:hover {
  color: rgb(0, 0, 0) !important;
}

span.profile-name {
  font-size: 1.5em;
}

div.menu {
  font-size: 1.5em;
}

table {
  margin: 0 auto !important;
  font-size: 1.5em !important;
}
