/*Set attributes of entire page
Especially: black background, white text*/
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
  color: white;
}

/*<----- Site Nav Bar ------>*/

/*'Spotifyzer' Site Header*/
#site-header{
  font-size: 5em;
  color: rgb(13, 188, 61) !important;
}

#site-header:hover {
  color: white !important;
}

/*Log in button*/
a.log-in-out:hover {
  color: rgb(0, 0, 0) !important;
}

/* Loggedin profile name and menu */
div.menu.transition.visible {
  background: rgb(51, 51, 51);
  width: 100%;
}
/*Font size of profile name*/
span.profile-name {
  font-size: 2em;
}
/*Font size of menu options*/
div.menu.transition.visible span.text{
  font-size: 1.5em ;
}

/*<----- Site Pages ------>*/

/*Set page background color (darkish grey)*/
div.site-component{
  background: rgb(40,40,40) !important;
}

/*Set color of page font (which are either links or inside of divs)*/
a, div {
  color: white !important;
}

/*<----- Overview Page ------>*/

table {
  margin: 0 auto !important;
  font-size: 2em !important;
}

div.library-update-message {
  margin: 0 auto !important;
}

/*<----- Overview Page ------>*/
/*D3 Bar Chart Formatting*/
/* Format axes */
.axis path,
.axis line {
  fill: none;
  stroke: #FFF;
  shape-rendering: crispEdges;
}

/* Fill and hover over color of bars */
.bar {
  fill: rgb(13, 188, 61);
}

.bar:hover {
  fill: gold ;
}

/* Not sure, but leaving this */
.x.axis path {
  display: none;
}

/* Format axis tick labels */
g.tick text {
  font-size: 2em;
  fill: white;
}

/* Rotate x-axis labels*/
g.axis--x g.tick text{
  transform: rotate(-10deg);
}
